{#
#
# (c) Copyright 2017 Hewlett Packard Enterprise Development LP
# (c) Copyright 2017 SUSE LLC
#
# Licensed under the Apache License, Version 2.0 (the "License"); you may
# not use this file except in compliance with the License. You may obtain
# a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
# WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
# License for the specific language governing permissions and limitations
# under the License.
#
#}
{{ interface_file_marker }}

BONDING_MASTER='yes'

{% include 'if_ipinfo_Suse.j2' %}


BONDING_MODULE_OPTS="
{%- if item.bond_mode is defined %}
mode={{ item.bond_mode }}
{%- endif %}
{%- if item.bond_miimon is defined %}
miimon={{ item.bond_miimon }}
{%- endif %}
{%- if item.bond_primary is defined %}
 primary={{ item.bond_primary }}
{%- endif %}
{%- for key, value in item.bond_options.iteritems() %}
 {{ key }}={{ value }}
{%- endfor %}"
{% for slave in item.bond_slaves %}
BONDING_SLAVE{{ loop.index - 1 }}='{{ slave }}'
{% endfor %}

{% if item.mtu is defined %}
MTU={{ item.mtu }}
{% endif %}

{% if disable_lro is defined and disable_lro %}
ETHTOOL_OPTIONS='lro off'
{% endif %}
